* {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.container {
  text-align: center; /* Center text inside the container */
  background-color: #ECECEC; /* Light gray background */
  height: 92vh; /* Container height */
}

.header-text {
  margin-top: 0px;
  margin-bottom: 20px; /* Space between header text and the rest of the content */
  font-size: 24px; /* Font size for header */
}

.disp_width {
  display: flex; /* Enable flexbox for the disp_width */
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
  margin-left: 33%;
  margin-right: 33%;
  background-color: white; /* White background for the form */
}

.search-container {
  display: flex; /* Enable flexbox for the search container */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  width: 100%; /* Full width */
  height: 73vh; /* Full height */
}

.search-label {
  margin-bottom: 5px; /* Space below the label */
  font-weight: bold; /* Bold text for the label */
  padding-bottom: 30px;
  padding-top: 20px;
}

.search-container input {
  margin-top: 5px; /* Space between the label and input */
  padding: 5px; /* Padding inside the input */
  width: 90%; /* Full width */
  border: 1px solid #ccc; /* Border around the input */
  border-radius: 4px; /* Rounded corners for the input */
}

.search-container button {
  margin-top: 5px; /* Space above the button */
  padding: 5px 10px; /* Padding inside the button */
  // border: none; /* Remove default border */
  // color: white; /* Button text color */
  border-radius: 4px; /* Rounded corners for the button */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Button container for side-by-side alignment */
.button-container {
  display: flex; /* Align buttons side by side */
  gap: 10px; /* Space between buttons */
}

button {
  padding: 10px 20px; /* Padding for buttons */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer on hover */
  border: none; /* Remove default borders */
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

/* Search Button Styling */
.btn-search {
  background-color: #0672CB; /* Search button background color */
  color: white; /* Search button text color */
}

.btn-search:hover {
  background-color: #055a9b; /* Darker shade on hover */
}

/* Reset Button Styling */
.btn-reset {
  background-color: white; /* Reset button background color */
  color: #0672CB; /* Reset button text color */
  border: 1px solid #0672CB; /* Add border to the Reset button */
}

.btn-reset:hover {
  background-color: #f0f0f0; /* Light gray on hover */
}

.input-txt{
  margin: 5px;

}
