<div class="disp_width">
        <div class="navigation"> 
            <div class="right-div"><a class="link-text" [routerLink]="['/home']"> < </a> <span class="separator">&nbsp;|&nbsp;</span> <span class="shipment-search">{{ 'SEARCH.SHIPMENT_SEARCH_RESULT' | translate }}</span></div>
            <div class="left-div">
                    <button class="close-btn" (click)="onClose()">{{ 'SEARCH.CLOSE' | translate }}</button>
            </div>
        </div>
    <div class="result" >
       <span class="shipment-size"> {{getLength(filteredShipments?.TotalNumberOfRecords)}}</span><span class="result-txt">&nbsp;results</span>
       <button class="filter-button" (click)="togglePopover()">Filter</button>
       <div class="filter-popover" *ngIf="isPopoverOpen">
        <h4>Filter by Shipment Status</h4>
        <form>
          <div *ngFor="let status of applicableStatuses">
            <label>
              <input type="checkbox" [(ngModel)]="statusFilters[status]" name="{{status}}" /> {{ status }}
            </label>
          </div>
        </form>
        <button (click)="applyFilters()">Apply Filter</button>
        <button (click)="resetFilter()">Reset Filter</button>
      </div>
      

       
   <app-common-table *ngIf="getLength(filteredShipments?.TotalNumberOfRecords) != '0'" [shipments] ="filteredShipments" class="table-cls" [refreshCounter]="refreshCounter"></app-common-table>
    </div>
   <div class="center-screen" *ngIf="getLength(filteredShipments?.TotalNumberOfRecords) == '0'"> {{'home.NO_DATA_FOUND' | translate}}</div>
</div>
