
    
    .disp_home {
        // width: 1023px;
        height: calc(100vh - 13vh);
        background-color: #ECECEC;
        display: block;
        overflow: hidden;
        // @media (max-width: 480px) {

        //     width: 480px;
        //   }
          
        //   @media (max-width: 767px) {
            
        //       width: 767px;
        //   }
          
        //   @media (max-width: 1023px) {
        //       width: 1023px;
        //   }
        @media (max-width: 1023px) {
            width: 80%;
        }
      
        // Media query for screens smaller than 768px (tablets)
        @media (max-width: 767px) {
            width: 60%;
        }
      
        // Media query for screens smaller than 480px (mobile)
        @media (max-width: 480px) {
          width: 100%;
        }
      }

    //   .responsive-box {
    //     width: 100%; // Default width for large screens
    //     background-color: #f1f1f1;
    //     padding: 10px;
    //     text-align: center;
    //     border: 1px solid #ccc;
      
    //     // Media query for screens smaller than 1200px
    //     @media (max-width: 1200px) {
    //       width: 80%;
    //     }
      
    //     // Media query for screens smaller than 768px (tablets)
    //     @media (max-width: 768px) {
    //       width: 60%;
    //     }
      
    //     // Media query for screens smaller than 480px (mobile)
    //     @media (max-width: 480px) {
    //       width: 100%;
    //     }
    //   }
      
.title {
    background-color: black;
    display: flex;            /* Enable flexbox */
  justify-content: space-between; 
//   justify-content: space-between; 
  height: 30px;
}
.title1 {
    position: relative;
    // transform: translateX(-100%); /* Start the div off-screen to the left */
    // transition: transform 1s ease-in-out; /* Smooth transition */
    background-color: black; /* Optional: background color */
    padding-left: 20px;
    color: white;
    font-size: 18px;
    display: inline-block;
    flex: 1; 
    padding-top: 4px;
}
.title2 {
    text-align: right;
    display: inline-block;
    position: relative;
    // transform: translateX(-100%); /* Start the div off-screen to the left */
    // transition: transform 1s ease-in-out; /* Smooth transition */
    background-color: black; /* Optional: background color */
    padding-right: 20px;
    color: white;
    font-size: 18px;
    padding-top:4px;
}